// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (c) 2025, Arduino SA
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	cam_pwr: cam-pwr {
		compatible = "regulator-fixed";
		regulator-name = "cam-pwr";
		startup-delay-us = <100000>;
		enable-active-high;
	};
};

&clocks {
	cam24m: cam-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "cam24m";
	};
};

&cci {
	status= "okay";
};

&camss {
       status = "okay";

       vdda-csiphy-1p2-supply = <&pm4125_l5>;
       vdda-pll-1p8-supply = <&pm4125_l13>;
};

&cci_i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;

	pca9555: gpio@26 {
		compatible = "nxp,pca9555";
		reg = <0x26>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};
