// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (c) 2025, Arduino SA
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	reg_dldo2: reg-dldo2 {
		compatible = "regulator-fixed";
		regulator-name = "mipi_panel_reg";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_bl: reg-bl {
		compatible = "regulator-fixed";
		regulator-name = "mipi_panel_backlight";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

&mdss_dsi0 {
	vdda-supply = <&pm4125_l5>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "arduino,giga-display","sitronix,st7701";
		reg = <0x0>;
		VCC-supply = <&reg_dldo2>;
		IOVCC-supply = <&reg_dldo2>;
		reset-gpios = <&tlmm 3 GPIO_ACTIVE_HIGH>;
		dsi-lanes = <2>;
		video-mode = <2>;	/* 0: burst mode
					 * 1: non-burst mode with sync event
					 * 2: non-burst mode with sync pulse
					 */
		status = "okay";

		port {
			panel0_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1>;
};

&anx_dsi0_in {
	remote-endpoint = <>;
};

&cci {
	status= "okay";
};

&camss {
       status = "okay";

       vdda-csiphy-1p2-supply = <&pm4125_l5>;
       vdda-pll-1p8-supply = <&pm4125_l13>;
};

&i2c0 {
	status = "disabled";
};

&cci_i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;

	acc: imu@6a {
        compatible = "st,lsm6dsv";
        reg = <0x6a>;
        interrupts-extended = <&tlmm 0 IRQ_TYPE_EDGE_FALLING>;
    };
};

&cci_i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;

	touch@14 {
		status = "okay";
		compatible = "goodix,gt911";
		reg = <0x14>;
		interrupts-extended = <&tlmm 86 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&tlmm 21 GPIO_ACTIVE_LOW>;
	};

	pca9555: gpio@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		status = "okay";
	};
};

&leds {
	display-blue {
		label = "blue:display";
		function = LED_FUNCTION_INDICATOR;
		color = <LED_COLOR_ID_BLUE>;
		gpios = <&pca9555 0 GPIO_ACTIVE_LOW>;
		linux,default-trigger = "none";
		default-state = "off";
	};

	display-green {
		label = "green:display";
		function = LED_FUNCTION_INDICATOR;
		color = <LED_COLOR_ID_GREEN>;
		gpios = <&pca9555 1 GPIO_ACTIVE_LOW>;
		linux,default-trigger = "none";
		default-state = "off";
	};

	display-red {
		label = "red:display";
		function = LED_FUNCTION_INDICATOR;
		color = <LED_COLOR_ID_RED>;
		gpios = <&pca9555 2 GPIO_ACTIVE_LOW>;
		linux,default-trigger = "none";
		default-state = "off";
	};
};
